@font-face {
  font-family: 'iconfont';  /* project id 681932 */
  src: url('//at.alicdn.com/t/font_681932_8jn3ptdwvp4.eot');
  src: url('//at.alicdn.com/t/font_681932_8jn3ptdwvp4.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_681932_8jn3ptdwvp4.woff') format('woff'),
  url('//at.alicdn.com/t/font_681932_8jn3ptdwvp4.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_681932_8jn3ptdwvp4.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*.icon-arrow:before { content: "\e662"; }*/

/*.icon-search:before { content: "\e600"; }*/

/*.icon-return:before { content: "\e6d8"; }*/

/*.icon-map:before { content: "\e618"; }*/

/*.icon-map:before { content: "\e621"; }*/

